<!DOCTYPE html> 
<html> 
<title>Payment Gateway</title> 
<body> 
	<h3>Welcome to Payment Gateway</h3> 
	<form action="payment" method="POST"> 
	<script
		src="//checkout.stripe.com/v3/checkout.js"
		class="stripe-button"
		data-key="pk_test_51GqzhyAP332t4rj6shGrqBsSLl9BtwEObC2lyzNDMZPyidaVUHPcaupLfIAlz8prERRjkdIZf8GN8gvsGTafle7m00pKOFnq2l" 
		data-amount="2500" 
		data-currency="inr" 
		data-name="Payment Form" 
		data-description="Please fill below fields" 
		data-locale="auto"> 
		</script> 
	</form> 
</body> 
</html> 
